$numberColor: #1e80ff;

// 适配大屏
@media screen and (min-width: 1000px) {
  .container {
    min-height: 100vh;
    position: relative;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .articleCount {
      line-height: 30px;
      text-align: center;
      margin: 50px 0 0 0;
      span {
        font-size: 20px;
        color: $numberColor;
        padding: 10px;
      }
    }
  }

  .pagination {
    width: 80%;
    margin: 50px auto;

  }
}

// 适配小屏幕
@media screen and (max-width: 1000px) {
  .container {
    min-height: 100vh;
    position: relative;

    .articleCount {
      line-height: 30px;
      text-align: center;
      margin: 50px 0 0 0;
      span {
        font-size: 20px;
        color: $numberColor;
        padding: 10px;
      }
    }
  }
}
