// 适配大屏

// 全局颜色
$fontCommonColor: #333;
$pageBg: #f6f7f7;
$selectCatalogColor: #25c2a0;
$borderCommon: #9ce3d3;

@media screen and (min-width: 1000px) {
  .postPage {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5% 0;
    .articlesPost {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $pageBg;
      width: 70%;
      padding: 10px;
      margin-right: 20px;
      .articleTitle {
        > p {
          font-size: 2rem;
          color: $fontCommonColor;
          font-weight: 700;
        }
      }
      .articleContent {
        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span {
          margin-bottom: 1rem;
          text-align: justify;
          letter-spacing: 1px;
          margin-block-start: 1rem;
          margin-block-end: 1rem;
          line-height: 2;
        }

        ul,
        ol {
          list-style: none;
        }
      }
// 锚点跳转的时候 避免有些内容被遮挡
      h1[id]:before,
      h2[id]:before,
      h3[id]:before,
      h4[id]:before,
      h5[id]:before,
      h6[id]:before {
        content: "";
        display: block;
        margin-top: -60px !important;
        height: 60px;
        pointer-events: none;
      }
    }
    .catalogLinkContainer {
      width: 20%;
      .catalogLinks {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 50px;
        background-color: $pageBg;
        .catalogLink {
          text-decoration: none;
          color: $fontCommonColor;
          border-left: 2px solid $borderCommon;
          padding: 0px 5px 0px 10px;
          font-size: 0.7rem;
          cursor: pointer;
          &:hover {
            color: $selectCatalogColor;
          }
        }
        [data-type="h3"] {
          text-indent: 1rem;
        }

        [data-type="h4"] {
          text-indent: 20px;
        }
        .articleCatalogActive {
          color: $selectCatalogColor;
        }
      }
    }
  }
}

// 适配小屏幕
@media screen and (max-width: 1000px) {
  .postPage {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5% 0;
    .articlesPost {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;

      .articleTitle {
        > p {
          font-size: 2rem;
          color: $fontCommonColor;
          font-weight: 700;
        }
      }
      .articleContent {
        p,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span {
          margin-bottom: 1rem;
          text-align: justify;
          letter-spacing: 1px;
          margin-block-start: 1rem;
          margin-block-end: 1rem;
          line-height: 2;
        }

        ul,
        ol {
          list-style: none;
        }
      }
    }

    // 移动目录

    .catalogLinks {
      display: none;
    }
  }
}
